@model CozyCafe.Models.DTO.Admin.DashboardStatsDto

@{
    ViewData["Title"] = "Панель адміністратора";
}

<h1 class="mt-4">Панель адміністратора</h1>

<div class="row">
    <div class="col-md-4">
        <div class="card bg-light p-3 mb-3">
            <h5>Загальна кількість замовлень:</h5>
            <p>@Model.TotalOrders</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light p-3 mb-3">
            <h5>Загальний дохід:</h5>
            <p>@Model.TotalRevenue.ToString("C")</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light p-3 mb-3">
            <h5>Кількість користувачів:</h5>
            <p>@Model.TotalUsers</p>
        </div>
    </div>
</div>

<h4 class="mt-4">Топ 5 страв</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Продано</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TopMenuItems)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.QuantitySold</td>
            </tr>
        }
    </tbody>
</table>
